/* upload.php Style Sheet */

*{
	font-family: "Space Mono";
	list-style: none;
	text-decoration: none;
}

body{
	max-width: 80%;
	margin: 0% auto 3% auto;
	padding: 0.5% 5% 3% 5%;
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	border-bottom: 3px solid #000;
}

	body header{
		display: flex;
		border: 3px solid #000;
		border-radius: 15px;
		padding: 0% 1% 0% 1%;
		align-items: center;
	}

		body header h1:first-of-type{
			padding-right: 0%;
		}

		body header #middle{
			margin: auto;
		}

			body header a{
				color: #000;
			}

			body header a:visited{
				color: #000;
			}

			body header h1:first-of-type a{
				font-family: "Rubik Moonrocks";
				background-color: #909684;
				color: #000;
			}

				body header h1:first-of-type a:hover{
					color: #696969;
				}

	body form, body p{
		border-bottom: 5px solid #909684;
		border-left: 5px solid #909684;
		margin-top: 2%;
		background-color: #c8d0c8;
		padding: 1% 1% 1% 2%;
		border-radius: 15px;
	}